<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Log in and Registration</title>
		{% load static %}
        <!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="{% static 'application/css/style.css' %}">   
        
	</head>
	<body>
		<div id="wrapper">
            <h1>Success! Welcome, {{request.session.first_name}}!</h1>
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: green;">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

          <form action="/logout">
            {%csrf_token%}
            <input type="submit" name="logout" id = "logout" value="Log out">
          </form>

        </div><!--end of wrapper-->
	</body>
</html>
